<app-top-nav-bar></app-top-nav-bar>
<br><br><br><br>
<div>
    <br>
    <nav class="navbar navbar-expand navbar-light bg-light offset-1">
        <a class="navbar-brand" style="cursor:pointer">Encuestas</a>

        <div class="navbar" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li *ngIf="table == 'crear'" class="nav-item active">
                    <a class="nav-link disabled" style="cursor:pointer">Crear Encuesta</a>
                </li>
                <li *ngIf="table != 'crear'" class="nav-item">
                    <a class="nav-link" style="cursor:pointer" (click)="changeTable()">Crear Encuesta</a>
                </li>
                <li *ngIf="table != 'respuestas'" class="nav-item">
                    <a class="nav-link" style="cursor:pointer" (click)="changeTable()">Respuestas</a>
                </li>
                <li *ngIf="table == 'respuestas'" class="nav-item active">
                    <a class="nav-link disabled" style="cursor:pointer">Respuestas</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 
        Crear una página que tenga botones y tipos de input para agregar al formulario:
        tipos: Valoración, input, multivalor.

        Se deja una línea para escribir el título de la pregunta y a continuación se añade otra línea con el tipo de input escogido.

        El formulario termina cuando el usuario le da click a submit (automáticamente se manda a todos los usuarios de la aplicación).
        El usuario recibe una alerta cuando el admin crea un nuevo formulario (correo con link al formulario y app).
    -->

    <div class="col-10 offset-1" *ngIf="table == 'respuestas'">

        <table *ngIf="answeredFeedbacks && answeredFeedbacks.length > 0" class="table table-light table-hover" style="border-collapse: collapse;
            border-radius: 0.5em;
            overflow: hidden;">
            <!-- <thead class="table-dark">
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de Publicación</th>
                </tr>
            </thead> -->
            <tbody>
                <!-- Abrir un modal o una página donde aparezca el formulario a resolver -->
                <tr *ngFor="let feedback of answeredFeedbacks; let i = index" style="cursor:pointer" (click)="loadFeedbackAns(i)">
                    <th style="width:1%"> </th>
                    <th style="width:19%">{{feedback.title}}</th>
                    <td style="width:72%">{{feedback.description}}</td>
                    <td style="width:8%">{{feedback.publishDate}}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="feedbackAns && feedbackAns.answers.length > 0 && table == 'respuestas'">
        <br><br><br>
        <div>
            <div class="nav-item dropdown offset-1">
                <a class="btn btn-secondary dropdown-toggle" type="button" href="#" data-toggle="dropdown" aria-expanded="false" data-bs-toggle="dropdown">
              {{feedbackAns.title}}
            </a>
                <div class="dropdown-menu dropdown-menu-dark">
                    <a *ngFor="let answer of feedbackAns.answers; let i = index" class="dropdown-item" (click)="loadAnswer(answer)" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#exampleModal6">{{answer[i]}}</a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="table == 'crear'" class="col">
        <div *ngIf="this.feedBack.title" class="offset-1 col-10 border rounded" style="background-color: rgb(235, 246, 255);">
            <h6 class="m-3">{{feedBack.title}}</h6>
            <p class="m-4">{{feedBack.description}}</p>
            <br>
            <div *ngFor="let question of feedBack.questions" class="m-5">
                <label>{{question.title}}</label>
                <div [ngSwitch]="question.type">
                    <input *ngSwitchCase="'val'" type="range" min="1" max="5" class="form-range">
                    <input *ngSwitchCase="'text'" type="text" class="form-control">
                    <select *ngSwitchCase="'mul'" class="form-select">
                        <option value="Ns">-</option>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                    <div *ngSwitchDefault>El tipo de pregunta "{{question.tipo}}" no es válido.</div>
                    <br>
                </div>
            </div>
            <br><br>
            <br>
            <div class="row m-1">
                <button class="btn btn-success col-4 offset-4" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">Añadir Campo</button>
            </div>
            <br>
        </div>
        <div *ngIf="!this.feedBack.title" class="offset-1">
            <br><br>
            <button class="btn btn-success col-4" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal4">Nueva Encuesta</button>
        </div>
        <br>
        <div class="offset-1 col-10">
            <div class="row m-1">
                <button *ngIf="this.feedBack.title" class="btn btn-secondary col-5" (click)="saveFeedback()" data-bs-toggle="modal" data-bs-target="#exampleModal2">Guardar Encuesta</button>
                <button *ngIf="this.feedBack.title" class="btn btn-dark col-5 offset-2" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal5">Publicar Encuesta</button>
            </div>
        </div>
        <div class="offset-1 hr"></div>
        <br><br>
        <br><br>
        <div class="nav-item dropdown offset-1">
            <a class="btn btn-secondary dropdown-toggle" type="button" href="#" data-toggle="dropdown" aria-expanded="false" data-bs-toggle="dropdown">
              Encuestas Guardadas
            </a>
            <div class="dropdown-menu dropdown-menu-dark">
                <a (click)="setEmptyFeedback()" class="dropdown-item " style="cursor:pointer">Nueva Encuesta</a>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <a *ngFor="let feedback of allFeedbacks; let i = index" class="dropdown-item" (click)="loadFeedback(i)" style="cursor:pointer">{{feedback.title}} <a class="link-primary" (click)="deleteFeedback(i)" data-bs-toggle="modal" data-bs-target="#exampleModal3" style="cursor:pointer;"><i class="bi-trash3-fill m-1 mt-2"></i></a></a>
            </div>
        </div>
        <br><br><br><br><br><br><br>
    </div>

</div>

<!-- exampleModal addQuestion -->
<div class="modal fade moda-dialog-centered" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="addQuestion(questionForm)" #questionForm="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva Pregunta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Tipo:</label>
                        <select class="form-select" name="type" ngModel>
                            <option value="val">Valoración</option>
                            <option value="text">Entrada de Texto</option>
                            <option value="mul">Multivalor</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Título:</label>
                        <input type="text" class="form-control" id="title" name="title" ngModel>
                    </div>

                    <br><br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary ">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- exampleModal2 saveForm -->
<div class="modal fade moda-dialog-centered" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal2Label">Formulario guardado correctamente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary offset-5" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- exampleModal3 eliminateForm -->
<div class="modal fade moda-dialog-centered" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Formulario eliminado correctamente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary offset-5" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- exampleModal4 addTitle -->
<div class="modal fade moda-dialog-centered" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModal4Label" aria-hidden="true">
    <form (ngSubmit)="addTitle(titleForm)" #titleForm="ngForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal2Label">Añade el Título de la Encuesta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Título:</label>
                        <input type="text" class="form-control" id="title" name="title" ngModel>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Descripción:</label>
                        <textarea type="text" class="form-control" id="description" name="description" rows="2" ngModel style="resize:none"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="col-2 btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="col-2 btn btn-success" data-bs-dismiss="modal">Añadir</button>
                </div>
            </div>
        </div>
    </form>

</div>

<!-- exampleModal5 publishForm -->
<div class="modal fade moda-dialog-centered" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModal5Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="publish(publishForm)" #publishForm="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal5Label">Publicar Encuesta </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p class="offset-1">El formulario se guardará automáticamente al publicarlo</p>
                <div class="modal-body">
                    <select class="form-select" name="emails" id="emails" ngModel>
                        <option value="">Selecciona Grupo de Usuarios</option>
                        <option value="allUsers">Todos los Usuarios</option>
                        <option value="{{products[i].key}}" *ngFor="let product of products; let i = index">{{products[i].title}}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publicar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- exampleModal6 -->
<div class="modal fade moda-dialog-centered" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModal6Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{feedbackAns.title}}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="m-4">{{feedbackAns.description}}</p>
                <br>
                <div *ngFor="let question of feedbackAns.questions; let i = index" class="m-5">
                    <label><b>{{question.title}}</b></label>
                    <br>
                    <!-- <div [ngSwitch]="question.type">
                        <input *ngSwitchCase="'val'" type="range" min="1" max="5" class="form-range" name="{{i}}" ngModel>
                        <input *ngSwitchCase="'text'" type="text" class="form-control" name="{{i}}" ngModel>
                        <select *ngSwitchCase="'mul'" class="form-select" name="{{i}}" ngModel>
                            <option value="opcion1">Opción 1</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                        </select>
                        <div *ngSwitchDefault>El tipo de pregunta "{{question.tipo}}" no es válido.</div>
                        <br>
                    </div> -->
                    <label>{{answer[i + 1]}}</label>
                    <br><br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark " data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success " data-bs-dismiss="modal">Enviar</button>
            </div>
        </div>
    </div>
</div>

<footer class="container py-5">
    <div class="row">
        <div class="col-10 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted">&copy; 2022–2023</small>
        </div>
        <div class="offset-1 col-5 col-md">
            <h5>Productos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/products">Catálogo</a></li>
                <li><a class="link-secondary" href="/favourites">Mis Favoritos</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/sales">Ventas</a></li>
                <!-- <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li> -->
            </ul>
        </div>
        <div class="offset-2 col-4 col-md">
            <h5>Cuenta</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/profile">Perfil</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/adminProfiles">Administrar perfiles</a></li>
                <!-- <li><a class="link-secondary" href="#">Another resource</a></li>
                <li><a class="link-secondary" href="#">Final resource</a></li> -->
            </ul>
        </div>
        <div class="offset-1 col-5 col-md">
            <h5>Enlaces</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="https://angular.io/docs" target="_blank">Angular</a></li>
                <li><a class="link-secondary" href="https://getbootstrap.com/docs/5.2/examples/" target="_blank">Bootstrap</a></li>
                <li><a class="link-secondary" href="https://www.npmjs.com/package/ngx-scanner-qrcode" target="_blank">Qr Scanner</a></li>
                <li><a class="link-secondary" href="https://betterprogramming.pub/how-to-convert-your-angular-application-to-a-native-mobile-app-android-and-ios-c212b38976df" target="_blank">Capacitor</a></li>
            </ul>
        </div>
        <div class="offset-2 col-4 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Team</a></li>
                <li><a class="link-secondary" href="#">Locations</a></li>
                <li><a class="link-secondary" href="#">Privacy</a></li>
                <li><a class="link-secondary" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>