<app-top-nav-bar></app-top-nav-bar>
<br><br><br><br><br><br>

<h2 *ngIf="isUserAdmin()" class="offset-1">Ventas</h2>
<h2 *ngIf="!isUserAdmin()" class="offset-1">Productos comprados</h2>

<br>
<div *ngIf="isUserAdmin()">
    <!-- Sales table for admins-->
    <div>
        <button type="button" class="btn btn-primary offset-1" data-bs-toggle="modal" data-bs-target="#newSale">Añadir Venta</button>
    </div>
    <div class="table-responsive col-10 offset-1">
        <table *ngIf="sales && sales.length > 0" class="table table-hover table-light col-10 mt-2">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Comprador</th>
                    <th scope="col">Fecha de compra</th>
                    <th scope="col">Título del producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Total</th>
                    <th class="text-center" scope="col">Modificar</th>
                    <th class="text-center" scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sales; index as i;">
                    <td style="width:13%">{{item.email}}

                    </td>
                    <td>{{item.date}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.price}}€</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.quantity * item.price}}€</td>

                    <td class="text-center">
                        <a class="link-primary text-center" (click)="openModal(i)" data-bs-toggle="modal" data-bs-target="#modSale" class="link-primary"><i class="bi-gear-fill text-center"></i></a>
                    </td>
                    <td class="text-center">
                        <a class="link-primary" (click)="openModal(i)" data-bs-toggle="modal" data-bs-target="#delSale" class="link-primary"><i class="bi-trash3-fill"></i></a>
                    </td>
                </tr>
                <tr>

                </tr>
            </tbody>
            <tfoot class="table-light">
                <tr>
                    <td style="width:13%">
                    </td>
                    <td>{{getCurrentDate()}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{total}}€</td>
                    <td></td>
                    <td></td>
                </tr>

            </tfoot>
        </table>
    </div>

    <!-- delSale Modal -->
    <div *ngIf="sales && sales.length > 0 && id > -1" class="modal fade" id="delSale" tabindex="-1" aria-labelledby="delSaleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de que quieres eliminar la venta?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="" style="text-align: center;">
                        <b>{{sales[id].title}}</b> <br>
                        <br> <label for="">{{sales[id].email}}</label>
                        <br> <label for="">{{sales[id].date}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button (click)="deleteSale();" type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modSale Modal -->
    <div *ngIf="sales && sales.length > 0 && id > -1" class="modal fade" id="modSale" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modSaleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modificar venta</h5><br><br>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Comprador: <b> {{sales[id].email}}</b><br> Fecha de compra: <b> {{sales[id].date}}</b><br> Título del producto: <b> {{sales[id].title}}</b><br> Precio del producto: <b>{{sales[id].price}}€</b> <br> Cantidad: <b>{{sales[id].quantity}} unidades</b>                    <br> Total: <b>{{sales[id].price * sales[id].quantity}}€</b>

                </div>
                <!-- <qrcode [qrdata]="'http://localhost:4200/details/{{product.title}}'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
                <div class="modal-body">
                    <form (ngSubmit)="modifySale(salesForm)" #salesForm="ngForm" class="offset-1 col-10">
                        <select required name="email" class="form-control" ngModel>
                        <option value="" selected disabled>Elige comprador</option>
                        <option *ngFor="let u of users" [value]="u.email">
                            {{u.email}}
                        </option>
                        
                    </select>
                        <br>
                        <select required name="title" class="form-control" ngModel>
                        <option value="" selected disabled>Elige producto</option>
                        <option *ngFor="let p of products" [value]="p.title">
                            {{p.title}}
                        </option>
                    </select>
                        <br>

                        <label for="quantity">Quantity</label>
                        <br>
                        <div class="col-2">
                            <input type="number" name="quantity" id="quantity" class="form-control col-3" ngModel>
                        </div>

                        <br><br>
                        <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" style="float:left">Cerrar</button>
                        <button type="submit" class="btn btn-primary d-grid offset-7" data-bs-dismiss="modal">Modificar Venta</button>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!-- newSale Modal -->
    <div class="modal fade" id="newSale" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newSaleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Registro de nueva venta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- <qrcode [qrdata]="'http://localhost:4200/details/{{product.title}}'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
                <div class="modal-body">
                    <form (ngSubmit)="registerNewSale(salesForm)" #salesForm="ngForm" class="offset-1 col-10">
                        <select required name="email" class="form-control" ngModel>
                        <option value="" selected disabled>Elige comprador</option>
                        <option *ngFor="let u of users" [value]="u.email">
                            {{u.email}}
                        </option>
                        
                    </select>
                        <br>
                        <select required id="title" name="title" class="form-control" ngModel>
                        <option value="" selected disabled>Elige producto</option>
                        <option *ngFor="let p of products" [value]="p.title">
                            {{p.title}}
                        </option>
                    </select>

                        <br>

                        <label for="quantity">Unidades</label>
                        <br>

                        <div class="row">
                            <div class="col-3">

                                <input type="number" name="quantity" id="quantity" [(ngModel)]='quantity' class="form-control col-3" ngModel required>
                            </div>

                        </div>

                        <br><br>

                        <button type="submit" class="btn btn-success d-grid offset-7" data-bs-dismiss="modal">Registrar Venta</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" style="float:left">Cerrar</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isUserAdmin()">
    <!-- Sales table for users -->
    <div class="table-responsive col-10 offset-1">
        <table *ngIf="sales && sales.length > 0" class="table table-hover table-light col-10 mt-2">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Fecha de compra</th>
                    <th scope="col">Título del producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of sales; index as i;">
                    <td>{{item.date}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.price}}€</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.quantity * item.price}}€</td>
                </tr>
                <tr>

                </tr>
            </tbody>
            <tfoot class="table-light">
                <tr>
                    <th>{{getCurrentDate()}}</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>{{total}}€</th>
                </tr>

            </tfoot>
        </table>
    </div>
</div>

<br><br><br><br>

<footer class="container py-5">
    <div class="row">
        <div class="col-10 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted">&copy; 2022–2023</small>
        </div>
        <div class="offset-1 col-5 col-md">
            <h5>Productos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/products">Catálogo</a></li>
                <li><a class="link-secondary" href="/favourites">Mis Favoritos</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/sales">Ventas</a></li>
                <!-- <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li> -->
            </ul>
        </div>
        <div class="offset-2 col-4 col-md">
            <h5>Cuenta</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/profile">Perfil</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/adminProfiles">Administrar perfiles</a></li>
                <!-- <li><a class="link-secondary" href="#">Another resource</a></li>
                <li><a class="link-secondary" href="#">Final resource</a></li> -->
            </ul>
        </div>
        <div class="offset-1 col-5 col-md">
            <h5>Enlaces</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="https://angular.io/docs" target="_blank">Angular</a></li>
                <li><a class="link-secondary" href="https://getbootstrap.com/docs/5.2/examples/" target="_blank">Bootstrap</a></li>
                <li><a class="link-secondary" href="https://www.npmjs.com/package/ngx-scanner-qrcode" target="_blank">Qr Scanner</a></li>
                <li><a class="link-secondary" href="https://betterprogramming.pub/how-to-convert-your-angular-application-to-a-native-mobile-app-android-and-ios-c212b38976df" target="_blank">Capacitor</a></li>
            </ul>
        </div>
        <div class="offset-2 col-4 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Team</a></li>
                <li><a class="link-secondary" href="#">Locations</a></li>
                <li><a class="link-secondary" href="#">Privacy</a></li>
                <li><a class="link-secondary" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>