<app-top-nav-bar></app-top-nav-bar>
<br><br><br><br>

<h2 class="offset-1">Ventas</h2>

<br><br>

<!-- Sales table -->
<div>
    <button type="button" class="btn btn-primary offset-1" data-bs-toggle="modal" data-bs-target="#newSale">Añadir Venta</button>
</div>
<div class="table-responsive col-10 offset-1">
    <table *ngIf="sales && sales.length > 0" class="table table-hover table-light col-10 mt-2">
        <thead class="table-primary">
            <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Fecha de compra</th>
                <th scope="col">Título del producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Unidades</th>
                <th scope="col">Total</th>
                <th class="text-center" scope="col">Modificar</th>
                <th class="text-center" scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of sales; index as i;">
                <td style="width:13%">{{item.email}}

                </td>
                <td>{{item.date}}</td>
                <td>{{item.title}}</td>
                <td>{{item.price}}€</td>
                <td>{{item.quantity}}</td>
                <td>{{item.quantity * item.price}}€</td>

                <td class="text-center">
                    <a class="link-primary text-center" (click)="openModal(i)" data-bs-toggle="modal" data-bs-target="#modSale" class="link-primary"><i class="bi-gear-fill text-center"></i></a>
                </td>
                <td class="text-center">
                    <a class="link-primary" (click)="openModal(i)" data-bs-toggle="modal" data-bs-target="#delSale" class="link-primary"><i class="bi-trash3-fill"></i></a>
                </td>
            </tr>
            <tr>

            </tr>
        </tbody>
        <tfoot class="table-light">
            <tr>
                <td style="width:13%">
                </td>
                <td>{{getCurrentDate()}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{total}}€</td>
                <td></td>
                <td></td>
            </tr>

        </tfoot>
    </table>
</div>

<!-- delSale Modal -->
<div *ngIf="sales && sales.length > 0 && id > -1" class="modal fade" id="delSale" tabindex="-1" aria-labelledby="delSaleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de que quieres eliminar la venta?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="" style="text-align: center;">
                    <b>{{sales[id].title}}</b> <br>
                    <br> <label for="">{{sales[id].email}}</label>
                    <br> <label for="">{{sales[id].date}}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="deleteSale();" type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- modSale Modal -->
<div *ngIf="sales && sales.length > 0 && id > -1" class="modal fade" id="modSale" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modSaleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modificar venta</h5><br><br>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Comprador: <b> {{sales[id].email}}</b><br> Fecha de compra: <b> {{sales[id].date}}</b><br> Título del producto: <b> {{sales[id].title}}</b><br> Precio del producto: <b>{{sales[id].price}}€</b> <br> Cantidad: <b>{{sales[id].quantity}} unidades</b>                <br> Total: <b>{{sales[id].price * sales[id].quantity}}€</b>

            </div>
            <!-- <qrcode [qrdata]="'http://localhost:4200/details/{{product.title}}'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
            <div class="modal-body">
                <form (ngSubmit)="modifySale(salesForm)" #salesForm="ngForm" class="offset-1 col-10">
                    <select required name="email" class="form-control" ngModel>
                        <option value="" selected disabled>Elige comprador</option>
                        <option *ngFor="let u of users" [value]="u.email">
                            {{u.email}}
                        </option>
                        
                    </select>
                    <br>
                    <select required name="title" class="form-control" ngModel>
                        <option value="" selected disabled>Elige producto</option>
                        <option *ngFor="let p of products" [value]="p.title">
                            {{p.title}}
                        </option>
                    </select>
                    <br>

                    <label for="quantity">Quantity</label>
                    <br>
                    <div class="col-2">
                        <input type="number" name="quantity" id="quantity" class="form-control col-3" ngModel>
                    </div>

                    <br><br>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" style="float:left">Cerrar</button>
                    <button type="submit" class="btn btn-primary d-grid offset-7" data-bs-dismiss="modal">Modificar Venta</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>

<!-- newSale Modal -->
<div class="modal fade" id="newSale" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newSaleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registro de nueva venta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- <qrcode [qrdata]="'http://localhost:4200/details/{{product.title}}'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
            <div class="modal-body">
                <form (ngSubmit)="registerNewSale(salesForm)" #salesForm="ngForm" class="offset-1 col-10">
                    <select required name="email" class="form-control" ngModel>
                        <option value="" selected disabled>Elige comprador</option>
                        <option *ngFor="let u of users" [value]="u.email">
                            {{u.email}}
                        </option>
                        
                    </select>
                    <br>
                    <select required id="title" name="title" class="form-control" ngModel>
                        <option value="" selected disabled>Elige producto</option>
                        <option *ngFor="let p of products" [value]="p.title">
                            {{p.title}}
                        </option>
                    </select>

                    <br>

                    <label for="quantity">Unidades</label>
                    <br>

                    <div class="row">
                        <div class="col-3">

                            <input type="number" name="quantity" id="quantity" [(ngModel)]='quantity' class="form-control col-3" ngModel required>
                        </div>

                    </div>

                    <br><br>

                    <button type="submit" class="btn btn-success d-grid offset-7" data-bs-dismiss="modal">Registrar Venta</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" style="float:left">Cerrar</button>
            </div>
            <br>
        </div>
    </div>
</div>