<app-top-nav-bar></app-top-nav-bar>

<br>
<br><br>
<h3 class="offset-1">Mis Favoritos</h3>
<br>
<div *ngIf="products.length == 0">
    <h5 class="ml-5">No hay productos Favoritos</h5>
</div>
<div *ngFor="let item of products; let i = index">
    <div *ngIf="i % 4 == 0" align="center" class="row">
        <div class="card offset-lg-2 col-lg-2 col-sm-1">
            <a [routerLink]="['/details',products[i].key]" class="card-link">
                <img align="center" class="card-img-top col-12" src="{{products[i].img}}" alt="{{products[i].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
            </a>
            <div class="card-body">
                <h3 class="card-title col-12">{{products[i].title}}</h3>
                <!-- <p class="card-text">{{products[i].description}}</p> -->
            </div>
            <ul class="list-group list-group-flush col-12">
                <li class="list-group-item">
                    <h4>{{products[i].price}}€</h4>
                </li>
            </ul>
            <div class="card-body col-12">
                <a [routerLink]="['/details',products[i].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                <a (click)="deleteFavouriteProduct(products[i].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
            </div>
        </div>
        <div *ngIf="i + 1 < products.length" class="card col-lg-2 col-sm-1">
            <a [routerLink]="['/details',products[i + 1].key]" class="card-link">
                <img align="center" class="card-img-top" src="{{products[i+1].img}}" alt="{{products[i+1].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
            </a>
            <div class="card-body">
                <h3 class="card-title">{{products[i+1].title}}</h3>
                <!-- <p class="card-text">{{products[i+1].description}}</p> -->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>{{products[i+1].price}}€</h4>
                </li>
            </ul>
            <div class="card-body">
                <a [routerLink]="['/details',products[i+1].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                <a (click)="deleteFavouriteProduct(products[i+1].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
            </div>
        </div>
        <div *ngIf="i + 2 < products.length" class="card col-lg-2 col-sm-1">
            <a [routerLink]="['/details',products[i + 2].key]" class="card-link">
                <img align="center" class="card-img-top" src="{{products[i+2].img}}" alt="{{products[i+2].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
            </a>
            <div class="card-body">
                <h3 class="card-title">{{products[i+2].title}}</h3>
                <!-- <p class="card-text">{{products[i+2].description}}</p> -->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>{{products[i+2].price}}€</h4>
                </li>
            </ul>
            <div class="card-body">
                <a [routerLink]="['/details',products[i+2].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                <a (click)="deleteFavouriteProduct(products[i+2].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
            </div>
        </div>
        <div *ngIf="i + 3 < products.length" class="card col-lg-2 col-sm-1">
            <a [routerLink]="['/details',products[i+3].key]" class="card-link">
                <img class="card-img-top" src="{{products[i+3].img}}" alt="{{products[i+2].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
            </a>
            <div class="card-body">
                <h3 class="card-title">{{products[i+3].title}}</h3>
                <!-- <p class="card-text">{{products[i+2].description}}</p> -->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>{{products[i+3].price}}€</h4>
                </li>
            </ul>
            <div class="card-body">
                <a [routerLink]="['/details',products[i+3].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                <a (click)="deleteFavouriteProduct(products[i+3].key);" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
            </div>
        </div>
    </div>
</div>
<br><br>

<!-- delFavProd Modal -->
<div class="modal fade" id="delFavProd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delFavProdLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto eliminado de favoritos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Este producto ya no aparecerá en tu selección de productos favoritos
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<div *ngIf="4 >= products.length">
    <footer class="py-4 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Predicción de ventas 2022</p>
        </div>
    </footer>
</div>

<div *ngIf="products.length > 4">
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Predicción de ventas 2022</p>
        </div>
    </footer>
</div>