<app-top-nav-bar></app-top-nav-bar>
<br><br><br><br><br><br>
<div class="offset-1 col-10">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" style="cursor:pointer">Encuestas</a>

        <div class="navbar" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li *ngIf="table == 'Pendientes'" class="nav-item active">
                    <a class="nav-link disabled" style="cursor:pointer">Pendientes</a>
                </li>
                <li *ngIf="table != 'Pendientes'" class="nav-item">
                    <a class="nav-link" style="cursor:pointer" (click)="changeTable()">Pendientes</a>
                </li>
                <li *ngIf="table != 'Respondidas'" class="nav-item">
                    <a class="nav-link" style="cursor:pointer" (click)="changeTable()">Respondidas</a>
                </li>
                <li *ngIf="table == 'Respondidas'" class="nav-item active">
                    <a class="nav-link disabled" style="cursor:pointer">Respondidas</a>
                </li>
            </ul>
        </div>
    </nav>
    <div *ngIf="table == 'Pendientes'">
        <table *ngIf="pendientes && pendientes.length > 0 " class="table table-success table-hover" style="border-collapse: collapse;
            border-radius: 0.5em;
            overflow: hidden;">
            <!-- <thead class="table-dark">
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de Publicación</th>
                </tr>
            </thead> -->
            <tbody>
                <tr *ngFor="let feedback of pendientes; let i = index" style="cursor:pointer" (click)="keepIndex(feedback.title)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <th *ngIf="!feedbackOpened(feedback.title)" style="width:1%"> </th>
                    <th *ngIf="!feedbackOpened(feedback.title)" style="width:19%">{{feedback.title}}</th>
                    <td *ngIf="!feedbackOpened(feedback.title)" style="width:72%">{{feedback.description}}</td>
                    <td *ngIf="!feedbackOpened(feedback.title)" style="width:8%">{{feedback.publishDate}}</td>
                    <th *ngIf="feedbackOpened(feedback.title)" class="table-secondary" style="width:1%"> </th>
                    <td *ngIf="feedbackOpened(feedback.title)" class="table-secondary" style="width:19%">{{feedback.title}}</td>
                    <td *ngIf="feedbackOpened(feedback.title)" class="table-secondary" style="width:60%">{{feedback.description}}</td>
                    <td *ngIf="feedbackOpened(feedback.title)" class="table-secondary" style="width:20%">{{feedback.publishDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="table == 'Respondidas'">
        <table *ngIf="respondidos && respondidos.length > 0" class="table table-success table-hover" style="border-collapse: collapse;
            border-radius: 0.5em;
            overflow: hidden;">
            <!-- <thead class="table-dark">
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha de Publicación</th>
                </tr>
            </thead> -->
            <tbody>
                <!-- Abrir un modal o una página donde aparezca el formulario a resolver -->
                <tr *ngFor="let feedback of respondidos; let i = index" style="cursor:pointer" (click)="keepIndex(feedback.title)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <th *ngIf="!feedbackOpened(feedback.title)" style="width:1%"> </th>
                    <th *ngIf="!feedbackOpened(feedback.title)" style="width:19%">{{feedback.title}}</th>
                    <td *ngIf="!feedbackOpened(feedback.title)" style="width:72%">{{feedback.description}}</td>
                    <td *ngIf="!feedbackOpened(feedback.title)" style="width:8%">{{feedback.publishDate}}</td>
                    <th *ngIf="feedbackOpened(feedback.title)" class="table-secondary" style="width:1%"> </th>
                    <td *ngIf="feedbackOpened(feedback.title)" class="table-secondary" style="width:19%">{{feedback.title}}</td>
                    <td *ngIf="feedbackOpened(feedback.title)" class="table-secondary" style="width:60%">{{feedback.description}}</td>
                    <td *ngIf="feedbackOpened(feedback.title)" class="table-secondary" style="width:20%">{{feedback.publishDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- exampleModal addQuestion -->
<div *ngIf="feedbacks" class="modal modal-fullscreen" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="formResponse(feedbackForm)" #feedbackForm="ngForm">
                <div class="modal-header">
                    <h6 class="modal-title">{{feedbacks[index].title}}</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="m-4">{{feedbacks[index].description}}</p>
                    <br>
                    <div *ngFor="let question of feedbacks[index].questions; let i = index" class="m-5">
                        <label>{{question.title}}</label>
                        <div [ngSwitch]="question.type">
                            <input *ngSwitchCase="'val'" type="range" min="1" max="5" class="form-range" name="{{i}}" ngModel>
                            <input *ngSwitchCase="'text'" type="text" class="form-control" name="{{i}}" ngModel>
                            <select *ngSwitchCase="'mul'" class="form-select" name="{{i}}" ngModel>
                                <option value="Ns/Nc">-</option>
                                <option value="Si">Sí</option>
                                <option value="No">No</option>
                            </select>
                            <div *ngSwitchDefault>El tipo de pregunta "{{question.tipo}}" no es válido.</div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark " data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success " data-bs-dismiss="modal">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>


<footer class="container py-5">
    <div class="row">
        <div class="col-10 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted">&copy; 2022–2023</small>
        </div>
        <div class="offset-1 col-5 col-md">
            <h5>Productos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/products">Catálogo</a></li>
                <li><a class="link-secondary" href="/favourites">Mis Favoritos</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/sales">Ventas</a></li>
                <!-- <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li> -->
            </ul>
        </div>
        <div class="offset-2 col-4 col-md">
            <h5>Cuenta</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/profile">Perfil</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/adminProfiles">Administrar perfiles</a></li>
                <!-- <li><a class="link-secondary" href="#">Another resource</a></li>
                <li><a class="link-secondary" href="#">Final resource</a></li> -->
            </ul>
        </div>
        <div class="offset-1 col-5 col-md">
            <h5>Enlaces</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="https://angular.io/docs" target="_blank">Angular</a></li>
                <li><a class="link-secondary" href="https://getbootstrap.com/docs/5.2/examples/" target="_blank">Bootstrap</a></li>
                <li><a class="link-secondary" href="https://www.npmjs.com/package/ngx-scanner-qrcode" target="_blank">Qr Scanner</a></li>
                <li><a class="link-secondary" href="https://betterprogramming.pub/how-to-convert-your-angular-application-to-a-native-mobile-app-android-and-ios-c212b38976df" target="_blank">Capacitor</a></li>
            </ul>
        </div>
        <div class="offset-2 col-4 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Team</a></li>
                <li><a class="link-secondary" href="#">Locations</a></li>
                <li><a class="link-secondary" href="#">Privacy</a></li>
                <li><a class="link-secondary" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>