.form-control:focus {
    box-shadow: none;
    border-color: #222268
}

h2 {
    color: #494747;
}

#deleteUser {
    font-size: 95%;
    padding: 0.6rem 1.2rem;
    background: #a31212;
    border: 2px solid #a31212;
    color: #ffffff;
    border-radius: 4px;
}

#deleteUser:hover {
    font-size: 95%;
    padding: 0.6rem 1.2rem;
    background: #d33737;
    border: 2px solid #d33737;
    color: #ffffff;
    border-radius: 4px;
}

button {
    font-size: 95%;
    padding: 0.6rem 1.2rem;
    background: #222268;
    border: 2px solid #222268;
    color: #ffffff;
    border-radius: 4px;
}

button:hover {
    background-color: #585896;
    border-color: #585896;
    transition: .3s;
}

.labels {
    font-size: 11px
}