<app-top-nav-bar></app-top-nav-bar>
<div class="container rounded bg-white border border-right mt-5 mb-5 col-4">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{user.name}}</span>
                <span class="text-black-50">{{user.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right offset-1">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div *ngIf="isEditing()" class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="{{ user.name }}" [(ngModel)]='user.name'></div>
                </div>
                <div class="row mt-3">
                    <div *ngIf="isEditing()" class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="Address" value="{{ user.address }}" [(ngModel)]='user.address'></div>
                    <div *ngIf="isEditing()" class="col-md-12"><label class="labels">Date</label><input type="date" class="form-control" placeholder="Date" value="{{ user.date }}" [(ngModel)]='user.date'></div>
                    <div *ngIf="isEditing()" class="col-md-12"><label class="labels">Gender</label><br><select name="pets" id="pet-select" class="form-control" value="{{ user.gender }}" [(ngModel)]='user.gender'>
                        <option value="Mujer">Mujer</option>
                        <option value="Hombre">Hombre</option>
                        </select>
                    </div>
                    <div *ngIf="!isEditing()" class="col-md-12"><label class="labels">Address</label><br><span *ngIf="!isEditing()" id="tag">{{user.address}}</span></div>
                    <div *ngIf="!isEditing()" class="col-md-12"><label class="labels">Date</label><br><span *ngIf="!isEditing()" id="tag">{{user.date}}</span></div>
                    <div *ngIf="!isEditing()" class="col-md-12"><label class="labels">Gender</label><br><span *ngIf="!isEditing()" id="tag">{{user.gender}}</span></div>
                </div>
                <div *ngIf="!isEditing()" class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="modify()">Modify Profile</button></div>
                <div *ngIf="isEditing()" class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="updateUser()">Save Profile</button></div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 text-center"><button class="btn btn-secondary" type="button" id="deleteUser" (click)="deleteUser()">Delete User</button></div>