<!-- <div class="container text-center pb-5">
    <img src="../assets/images/Fondo.jpg" class="img-fluid" style="position: fixed; right: 0; top: 0; z-index: -100; opacity: 0.75;">
</div> -->
<nav class="navbar navbar-dark bg-dark fixed-top bg-custom-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <form (ngSubmit)="searchProduct(searchBar)" #searchBar="ngForm" class="d-flex col-5" role="search">
            <input class="form-control me-2" name="searchInput" type="search" placeholder="Search" aria-label="Search" ngModel requiered>
            <button class="btn btn-success" type="submit" onClick="window.location.reload();"><i class="bi bi-search"></i></button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <a (click)="logOut()" data-title="Logout">
                    <i class="bi bi-box-arrow-right"></i>
                </a>
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><a class="navbar-brand" href="/profile">{{cookie.get("email")}}</a></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/favourites">Mis favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="isUserAdmin()" class="nav-link" href="/sales">Registro de Ventas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Configuración</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/profile">Modificar perfil</a></li>
                            <li *ngIf="isUserAdmin()">
                                <hr class="dropdown-divider">
                            </li>
                            <li *ngIf="isUserAdmin()"><a class="dropdown-item" href="/adminProfiles">Administrar perfiles</a></li>
                        </ul>
                    </li>
                </ul>
                <form (ngSubmit)="searchProduct(searchBar)" #searchBar="ngForm" class="d-flex mt-3" role="search">
                    <input class="form-control me-2" name="searchInput" type="search" placeholder="Search" aria-label="Search" ngModel requiered>
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>