<app-top-nav-bar></app-top-nav-bar>

<br><br><br>

<!-- Product section-->
<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.img}}" alt="..." /></div>
        <div class="col-md-6">
            <div class="small mb-1">SKU: {{product.key}}</div>
            <h1 class="display-5 fw-bolder">{{product.title}}</h1>
            <div *ngIf="this.product.rating">
                <div *ngFor="let val of valorations; index as j;">
                    <div *ngIf="j < avgRating" class="bi-star-fill" style="float:left"></div>
                    <div *ngIf="j >= avgRating" class="bi-star" style="float:left"></div>
                </div>
                <br>
            </div>
            <div class="fs-5 mb-5">
                <span>{{product.price}}€</span>
            </div>
            <p class="lead">{{product.description}}</p>
            <div class="d-flex">
                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                    <i class="bi-cart-fill me-1"></i>
                    Add to cart
                </button>

            </div>
            <button type="button" class="btn btn-success col-2 mt-4" data-bs-toggle="modal" data-bs-target="#qrModal"><i class="bi bi-qr-code fa-9x"></i></button>

        </div>
    </div>
</div>

<!-- qrModal -->
<div class="modal fade" id="qrModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{product.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- <qrcode [qrdata]="'http://localhost:4200/details/{{product.title}}'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
            <qrcode class="offset-3" (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'" [allowEmptyString]="true"></qrcode>
            <a class="offset-10" [href]="qrCodeDownloadLink" allowEmptyString="true" download="qrcode"><i class="bi bi-download"></i></a>
            <br>
        </div>
    </div>
</div>

<br><br><br><br>


<br><br><br>

<!-- Ratings table -->
<div>
    <button type="button" class="btn btn-primary m-4" data-bs-toggle="modal" data-bs-target="#addComment">Añadir Valoración</button>
</div>
<table *ngIf="product.userRating && product.userRating.length > 0" class="table table-hover table-light table-responsive col-10 mt-2">
    <thead class="thead-dark">
        <tr>
            <th scope="col">E-mail</th>
            <th scope="col">Fecha</th>
            <th scope="col">Comentario</th>
            <th scope="col">Valoración <br></th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of product.userRating; index as i;">
            <th>{{product.userRating[i]}}</th>
            <td style="width: 7%" scope="row">{{product.ratingDate[i]}}</td>
            <td style="width: 60%" scope="row">{{product.comment[i]}}</td>
            <td>
                <div *ngFor="let val of valorations; index as j;">
                    <div *ngIf="j < +product.rating[i]" class="bi-star-fill" style="float:left"></div>
                    <div *ngIf="j >= +product.rating[i]" class="bi-star" style="float:left"></div>
                </div>
            </td>
            <td>
                <a *ngIf="buttonAvailable(i)" (click)="openModal(i);" data-bs-toggle="modal" data-bs-target="#modComment"><i class="bi-gear-fill"></i></a>
                <a *ngIf="buttonAvailable(i)" (click)="openModal(i);" data-bs-toggle="modal" data-bs-target="#delComment"><i class="bi-trash3-fill"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<!-- delComment Modal -->
<div *ngIf="product.comment && product.comment.length > 0 && id > -1" class="modal fade" id="delComment" tabindex="-1" aria-labelledby="delCommentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de que quieres eliminar la valoración?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let val of valorations; index as j;">
                    <div *ngIf="id > -1 && j < +product.rating[id]" class="bi-star-fill" style="float:left"></div>
                    <div *ngIf="id > -1 && j >= +product.rating[id]" class="bi-star" style="float:left"></div>
                </div>
                <div>
                    <br> {{product.comment[id]}}
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <button (click)="deleteReview()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar valoración</button>
            </div>
        </div>
    </div>
</div>

<!-- modComment Modal -->
<div class="modal fade" id="modComment" tabindex="-1" aria-labelledby="modCommentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modificar Valoración</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
            <div class="modal-body">
                <b>{{product.userRating[id]}}</b> <br>
                <div *ngFor="let val of valorations; index as j;">
                    <div *ngIf="id > -1 && j < +product.rating[id]" class="bi-star-fill" style="float:left"></div>
                    <div *ngIf="id > -1 && j >= +product.rating[id]" class="bi-star" style="float:left"></div>
                </div>
                <br> {{product.comment[id]}}
            </div>
            <div class="modal-body">
                <form (ngSubmit)="modifyReview(registerMod)" #registerMod="ngForm" class="col-10">
                    <div>
                        <br>
                        <label for="rating">Valoración:</label>
                        <br>
                        <label for="rating1" class="offset-2">1 </label>
                        <input type="radio" id="rating1" name="rating" value="1" ngModel>
                        <label for="rating2" class="offset-1">2 </label>
                        <input type="radio" id="rating2" name="rating" value="2" ngModel>
                        <label for="rating3" class="offset-1">3 </label>
                        <input type="radio" id="rating3" name="rating" value="3" ngModel>
                        <label for="rating4" class="offset-1">4 </label>
                        <input type="radio" id="rating4" name="rating" value="4" ngModel>
                        <label for="rating5" class="offset-1">5 </label>
                        <input type="radio" id="rating5" name="rating" value="5" ngModel>
                    </div>

                    <br>
                    <label for="comment">Comentario</label>
                    <input type="textarea" class="form-control col-10" style="height: 80px;" name="comment" id="comment" ngModel required><br><br>

                    <!-- <textarea type="text" class="form-control col-10" name="description" id="description" placeholder="Descripción sobre el producto" ngModel></textarea><br><br> -->
                    <br>
                    <div class="row">
                        <button type="submit" class="btn btn-dark offset-3 col-6 d-grid " data-bs-dismiss="modal">Modificar Valoración</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- addComment Modal -->
<div class="modal fade" id="addComment" tabindex="-1" aria-labelledby="addCommentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registrar Valoración</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
            <form (ngSubmit)="saveReview(registerForm)" #registerForm="ngForm" class="offset-1 col-10">
                <div>
                    <br>
                    <label for="rating">Valoración:</label>
                    <br>
                    <label for="rating1" class="offset-2">1 </label>
                    <input type="radio" id="rating1" name="rating" value="1" ngModel>
                    <label for="rating2" class="offset-1">2 </label>
                    <input type="radio" id="rating2" name="rating" value="2" ngModel>
                    <label for="rating3" class="offset-1">3 </label>
                    <input type="radio" id="rating3" name="rating" value="3" ngModel>
                    <label for="rating4" class="offset-1">4 </label>
                    <input type="radio" id="rating4" name="rating" value="4" ngModel>
                    <label for="rating5" class="offset-1">5 </label>
                    <input type="radio" id="rating5" name="rating" value="5" ngModel>
                </div>

                <br>
                <label for="comment">Comentario</label>
                <input type="textarea" class="form-control col-10" style="height: 80px;" name="comment" id="comment" ngModel required><br><br>

                <!-- <textarea type="text" class="form-control col-10" name="description" id="description" placeholder="Descripción sobre el producto" ngModel></textarea><br><br> -->
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-dark offset-3 col-6 d-grid " data-bs-dismiss="modal">Publicar Valoración</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<br><br><br><br><br>

<!-- Related items section-->
<div *ngIf="products.length > 0" class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Productos relacionados</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{products[0].img}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{products[0].title}}</h5>
                        <!-- Product rating-->
                        <div *ngFor="let val of valorations; index as j;" class="offset-4">
                            <div *ngIf="j < calculateProductAverage(products[0])" class="bi-star-fill" style="float:left"></div>
                            <div *ngIf="j >= calculateProductAverage(products[0])" class="bi-star" style="float:left"></div>
                        </div>
                        <br>
                        <br>
                        <!-- Product price-->
                        {{products[0].price}}€
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/details',products[0].key]">View details</a></div>
                </div>
            </div>
        </div>
        <div *ngIf="products.length > 1" class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="{{products[1].img}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{products[1].title}}</h5>
                        <!-- Product rating-->
                        <div *ngFor="let val of valorations; index as j;" class="offset-4">
                            <div *ngIf="j < calculateProductAverage(products[1])" class="bi-star-fill" style="float:left"></div>
                            <div *ngIf="j >= calculateProductAverage(products[1])" class="bi-star" style="float:left"></div>
                        </div>
                        <br>
                        <br>
                        <!-- Product price-->
                        {{products[1].price}}€
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/details',products[1].key]">View details</a></div>
                </div>
            </div>
        </div>
        <div *ngIf="products.length > 2" class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="{{products[2].img}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{products[2].title}}</h5>
                        <!-- Product rating-->
                        <div *ngFor="let val of valorations; index as j;" class="offset-4">
                            <div *ngIf="j < calculateProductAverage(products[2])" class="bi-star-fill" style="float:left"></div>
                            <div *ngIf="j >= calculateProductAverage(products[2])" class="bi-star" style="float:left"></div>
                        </div>
                        <br>
                        <br>
                        <!-- Product price-->
                        {{products[2].price}}€
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/details',products[2].key]">View details</a></div>
                </div>
            </div>
        </div>
        <div *ngIf="products.length > 3" class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{products[3].img}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{products[3].title}}</h5>
                        <!-- Product rating-->
                        <div *ngFor="let val of valorations; index as j;" class="offset-4">
                            <div *ngIf="j < calculateProductAverage(products[3])" class="bi-star-fill" style="float:left"></div>
                            <div *ngIf="j >= calculateProductAverage(products[3])" class="bi-star" style="float:left"></div>
                        </div>
                        <br>
                        <br>
                        <!-- Product price-->
                        {{products[3].price}}€
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/details',products[3].key]">View details</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>


<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Predicción de ventas 2022</p>
    </div>
</footer>