<app-top-nav-bar></app-top-nav-bar>
<br><br><br>
<!-- Product section-->
<div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.img}}" alt="..." /></div>
        <div class="col-md-6">
            <div class="small mb-1">SKU: {{product.key}}</div>
            <h1 class="display-5 fw-bolder">{{product.title}}</h1>
            <div *ngIf="this.product.rating">
                <div *ngFor="let val of valorations; index as j;">
                    <div *ngIf="j < avgRating" class="bi-star-fill" style="float:left"></div>
                    <div *ngIf="j >= avgRating" class="bi-star" style="float:left"></div>
                </div>
                <br>
            </div>
            <div class="fs-5 mb-3">
                <span>{{product.price}}€</span>
            </div>
            <p class="lead">{{product.description}}</p>
            <div class="d-flex">
                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" [(ngModel)]='quantity' style="max-width: 3rem" />
                <button *ngIf="isUserAdmin()" class="btn btn-outline-dark flex-shrink-0" type="button" data-bs-toggle="modal" data-bs-target="#salesAdminModal">
                    <i class="bi bi-cart-plus me-1"></i>
                    Registrar Venta
                </button>
                <button *ngIf="!isUserAdmin()" class="btn btn-outline-dark flex-shrink-0" type="button" data-bs-toggle="modal" data-bs-target="#salesModal">
                    <i class="bi bi-cart-plus me-1"></i>
                    Registrar Compra
                </button>
            </div>
            <button type="button" class="btn btn-success col-2 mt-4" data-bs-toggle="modal" data-bs-target="#qrModal"><i class="bi bi-qr-code fa-9x"></i></button>

        </div>
    </div>
</div>

<br><br><br><br><br><br><br>

<!-- salesModal -->
<div class="modal fade" id="salesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="salesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{product.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- <qrcode [qrdata]="'http://localhost:4200/details/{{product.title}}'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
            <div class="modal-body">
                <form (ngSubmit)="registerNewSale(salesForm)" #salesForm="ngForm" class="offset-1 col-10">
                    <label for="">{{cookie.get("email")}}</label>
                    <br>
                    <br>
                    <label for="quantity">Unidades</label>
                    <div class="row">
                        <div class="col-3">

                            <input type="number" name="quantity" id="quantity" [(ngModel)]='quantity' class="form-control col-3" ngModel required>
                        </div>

                        <div class="col-4 offset-5">
                            <label>Total </label> <b> {{quantity * product.price}}€</b>
                        </div>

                    </div>
                    <br><br>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" style="float:left">Cerrar</button>
                    <button type="submit" class="btn btn-success d-grid offset-7" data-bs-dismiss="modal">Registrar Venta</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>

<!-- salesAdminModal -->
<div class="modal fade" id="salesAdminModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="salesAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{product.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- <qrcode [qrdata]="'http://localhost:4200/details/{{product.title}}'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
            <div class="modal-body">
                <form (ngSubmit)="registerNewSale(salesForm)" #salesForm="ngForm" class="offset-1 col-10">
                    <select required name="email" class="form-control" ngModel>
                        <option value="" selected disabled>Elige comprador</option>
                        <option *ngFor="let u of users" [value]="u.email">
                            {{u.email}}
                        </option>
                        
                    </select>
                    <br>

                    <br>
                    <label for="quantity">Unidades</label>
                    <div class="row">
                        <div class="col-3">

                            <input type="number" name="quantity" id="quantity" [(ngModel)]='quantity' class="form-control col-3" ngModel required>
                        </div>

                        <div class="col-4 offset-5">
                            <label>Total </label> <b> {{quantity * product.price}}€</b>
                        </div>

                    </div>
                    <br><br>
                    <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" style="float:left">Cerrar</button>
                    <button type="submit" class="btn btn-success d-grid offset-7" data-bs-dismiss="modal">Registrar Venta</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>

<!-- qrModal -->
<div class="modal fade" id="qrModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{product.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- <qrcode [qrdata]="'http://localhost:4200/details/{{product.title}}'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
            <qrcode class="offset-3" (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'" [allowEmptyString]="true"></qrcode>
            <a class="offset-10" [href]="qrCodeDownloadLink" allowEmptyString="true" download="qrcode"><i class="bi bi-download"></i></a>
            <br>
        </div>
    </div>
</div>


<!-- Ratings table -->
<div>
    <button type="button" class="btn btn-primary offset-1" data-bs-toggle="modal" data-bs-target="#addComment">Añadir Valoración</button>
</div>
<div class="table-responsive col-10 offset-1">
    <table *ngIf="product.userRating && product.userRating.length > 0" class="table table-light col-10 mt-2">
        <tbody>
            <tr *ngFor="let item of product.userRating; index as i;" (click)="openModal(i);" data-bs-toggle="modal" data-bs-target="#modComment" style="cursor:pointer">
                <td style="width:13%">{{product.userRating[i]}}
                    <br>
                    <div *ngFor="let val of valorations; index as j;">
                        <div *ngIf="j < +product.rating[i]" class="bi-star-fill" style="float:left"></div>
                        <div *ngIf="j >= +product.rating[i]" class="bi-star" style="float:left"></div>
                    </div><br> {{product.ratingDate[i]}}
                </td>
                <td style="width:40%; color: rgb(54, 54, 54);" scope="row" style="text-align: center;">{{product.comment[i]}}</td>
                <td style="width: 11%;">
                    <a *ngIf="buttonAvailable(i)" (click)="openModal(i);" data-bs-toggle="modal" data-bs-target="#modComment" class="link-primary"><i class="bi-gear-fill"></i></a>
                    <a *ngIf="buttonAvailable(i)" (click)="openModal(i);" data-bs-toggle="modal" data-bs-target="#delComment" class="link-primary"><i class="bi-trash3-fill"></i></a>
                </td>
            </tr>
            <tr>

            </tr>
        </tbody>
    </table>
</div>


<!-- delComment Modal -->
<div *ngIf="product.comment && product.comment.length > 0 && id > -1" class="modal fade" id="delComment" tabindex="-1" aria-labelledby="delCommentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de que quieres eliminar la valoración?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="" style="text-align: center;">
                    <b>{{product.userRating[id]}}</b> <br>
                    <div class="col-4 offset-4">
                        <i *ngIf="id > -1 && 0 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 0 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 1 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 1 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 2 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 2 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 3 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 3 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 4 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 4 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                    </div>
                    <br>
                    <br> <label for="">{{product.comment[id]}}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="deleteReview()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- modComment Modal -->
<div *ngIf="product.comment && product.comment.length > 0 && id > -1" class="modal fade modal-lg" id="modComment" tabindex="-1" aria-labelledby="modCommentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modificar Valoración</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="" style="text-align: center;">
                    <b>{{product.userRating[id]}}</b> <br>
                    <div class="col-4 offset-4">
                        <i *ngIf="id > -1 && 0 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 0 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 1 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 1 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 2 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 2 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 3 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 3 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 4 < +product.rating[id]" class="bi-star-fill" id="ratingStar"></i>
                        <i *ngIf="id > -1 && 4 >= +product.rating[id]" class="bi-star" id="ratingStar"></i>
                    </div>
                    <br> <label class="col-10">{{product.comment[id]}}</label>
                </div>
            </div>
            <div *ngIf="buttonAvailable(id)" class="modal-body">
                <form (ngSubmit)="modifyReview(registerMod)" #registerMod="ngForm" class="col-10 offset-1">
                    <div>
                        <br>
                        <label for="rating">Valoración:</label>
                        <br>
                        <label for="rating1" class="offset-3">1 </label>
                        <input type="radio" id="rating1" name="rating" value="1" ngModel>
                        <label for="rating2" class="offset-1">2 </label>
                        <input type="radio" id="rating2" name="rating" value="2" ngModel>
                        <label for="rating3" class="offset-1">3 </label>
                        <input type="radio" id="rating3" name="rating" value="3" ngModel>
                        <label for="rating4" class="offset-1">4 </label>
                        <input type="radio" id="rating4" name="rating" value="4" ngModel>
                        <label for="rating5" class="offset-1">5 </label>
                        <input type="radio" id="rating5" name="rating" value="5" ngModel>
                    </div>

                    <br>
                    <label for="comment">Comentario</label>
                    <textarea type="text" class="form-control col-10" style="height: 80px; resize: none;" name="comment" id="comment" placeholder="{{product.comment[id]}}" ngModel required></textarea><br><br>
                    <br>
                    <button *ngIf="buttonAvailable(id)" type="submit" class="btn btn-primary col-4 offset-4" data-bs-dismiss="modal">Modificar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- addComment Modal -->
<div class="modal fade" id="addComment" tabindex="-1" aria-labelledby="addCommentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registrar Valoración</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <br>
            <form (ngSubmit)="saveReview(registerForm)" #registerForm="ngForm" class="offset-1 col-10">
                <div>
                    <br>
                    <label for="rating">Valoración:</label>
                    <br>
                    <label for="rating1" class="offset-2">1 </label>
                    <input type="radio" id="rating1" name="rating" value="1" ngModel>
                    <label for="rating2" class="offset-1">2 </label>
                    <input type="radio" id="rating2" name="rating" value="2" ngModel>
                    <label for="rating3" class="offset-1">3 </label>
                    <input type="radio" id="rating3" name="rating" value="3" ngModel>
                    <label for="rating4" class="offset-1">4 </label>
                    <input type="radio" id="rating4" name="rating" value="4" ngModel>
                    <label for="rating5" class="offset-1">5 </label>
                    <input type="radio" id="rating5" name="rating" value="5" ngModel>
                </div>

                <br>
                <label for="comment">Comentario</label>
                <input type="textarea" class="form-control col-10" style="height: 80px;" name="comment" id="comment" ngModel required><br><br>

                <!-- <textarea type="text" class="form-control col-10" name="description" id="description" placeholder="Descripción sobre el producto" ngModel></textarea><br><br> -->
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-dark offset-3 col-6 d-grid " data-bs-dismiss="modal">Publicar</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<br><br><br><br><br>

<!-- Related items section-->
<div *ngIf="products.length > 0" class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Productos relacionados</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{products[0].img}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{products[0].title}}</h5>
                        <!-- Product rating-->
                        <div class="col-10 offset-1">
                            <i *ngIf="id > -1 && 0 < calculateProductAverage(products[0])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 0 >= calculateProductAverage(products[0])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 1 < calculateProductAverage(products[0])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 1 >= calculateProductAverage(products[0])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 2 < calculateProductAverage(products[0])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 2 >= calculateProductAverage(products[0])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 3 < calculateProductAverage(products[0])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 3 >= calculateProductAverage(products[0])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 4 < calculateProductAverage(products[0])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 4 >= calculateProductAverage(products[0])" class="bi-star" id="ratingStar"></i>
                        </div>
                        <br>
                        <br>
                        <!-- Product price-->
                        {{products[0].price}}€
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="viewDetails(products[0].key)">View details</a></div>
                </div>
            </div>
        </div>
        <div *ngIf="products.length > 1" class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="{{products[1].img}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{products[1].title}}</h5>
                        <!-- Product rating-->
                        <div class="col-10 offset-1">
                            <i *ngIf="id > -1 && 0 < calculateProductAverage(products[1])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 0 >= calculateProductAverage(products[1])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 1 < calculateProductAverage(products[1])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 1 >= calculateProductAverage(products[1])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 2 < calculateProductAverage(products[1])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 2 >= calculateProductAverage(products[1])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 3 < calculateProductAverage(products[1])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 3 >= calculateProductAverage(products[1])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 4 < calculateProductAverage(products[1])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 4 >= calculateProductAverage(products[1])" class="bi-star" id="ratingStar"></i>
                        </div>
                        <br>
                        <br>
                        <!-- Product price-->
                        {{products[1].price}}€
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="viewDetails(products[1].key)">View details</a></div>
                </div>
            </div>
        </div>
        <div *ngIf="products.length > 2" class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                <!-- Product image-->
                <img class="card-img-top" src="{{products[2].img}}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{products[2].title}}</h5>
                        <!-- Product rating-->
                        <div class="col-10 offset-1">
                            <i *ngIf="id > -1 && 0 < calculateProductAverage(products[2])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 0 >= calculateProductAverage(products[2])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 1 < calculateProductAverage(products[2])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 1 >= calculateProductAverage(products[2])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 2 < calculateProductAverage(products[2])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 2 >= calculateProductAverage(products[2])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 3 < calculateProductAverage(products[2])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 3 >= calculateProductAverage(products[2])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 4 < calculateProductAverage(products[2])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 4 >= calculateProductAverage(products[2])" class="bi-star" id="ratingStar"></i>
                        </div>
                        <br>
                        <br>
                        <!-- Product price-->
                        {{products[2].price}}€
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="viewDetails(products[2].key)">View details</a></div>
                </div>
            </div>
        </div>
        <div *ngIf="products.length > 3" class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="{{products[3].img}}" alt="..." />
                <!-- Product details-->
                <div class="card-body">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{products[3].title}}</h5>
                        <!-- Product rating-->
                        <div class="col-10 offset-1">
                            <i *ngIf="id > -1 && 0 < calculateProductAverage(products[3])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 0 >= calculateProductAverage(products[3])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 1 < calculateProductAverage(products[3])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 1 >= calculateProductAverage(products[3])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 2 < calculateProductAverage(products[3])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 2 >= calculateProductAverage(products[3])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 3 < calculateProductAverage(products[3])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 3 >= calculateProductAverage(products[3])" class="bi-star" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 4 < calculateProductAverage(products[3])" class="bi-star-fill" id="ratingStar"></i>
                            <i *ngIf="id > -1 && 4 >= calculateProductAverage(products[3])" class="bi-star" id="ratingStar"></i>
                        </div>
                        <br>
                        <br>
                        <!-- Product price-->
                        {{products[3].price}}€
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="viewDetails(products[3].key)">View details</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>


<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted">&copy; 2022–2023</small>
        </div>
        <div class="col-6 col-md">
            <h5>Productos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/products">Catálogo</a></li>
                <li><a class="link-secondary" href="/favourites">Mis Favoritos</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/sales">Ventas</a></li>
                <!-- <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li> -->
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Cuenta</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/profile">Perfil</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/adminProfiles">Administrar perfiles</a></li>
                <!-- <li><a class="link-secondary" href="#">Another resource</a></li>
                <li><a class="link-secondary" href="#">Final resource</a></li> -->
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Enlaces</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="https://angular.io/docs" target="_blank">Angular</a></li>
                <li><a class="link-secondary" href="https://getbootstrap.com/docs/5.2/examples/" target="_blank">Bootstrap</a></li>
                <li><a class="link-secondary" href="https://www.npmjs.com/package/ngx-scanner-qrcode" target="_blank">Qr Scanner</a></li>
                <li><a class="link-secondary" href="https://betterprogramming.pub/how-to-convert-your-angular-application-to-a-native-mobile-app-android-and-ios-c212b38976df" target="_blank">Capacitor (Conversor a móvil)</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Team</a></li>
                <li><a class="link-secondary" href="#">Locations</a></li>
                <li><a class="link-secondary" href="#">Privacy</a></li>
                <li><a class="link-secondary" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>