<app-top-nav-bar></app-top-nav-bar>
<br>
<div *ngIf="isUserAdmin()" align="center"><button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#addProduct">Add Product</button></div>
<br><br>
<div *ngFor="let item of products; let i = index">
    <div *ngIf="i % 4 == 0" align="center" class="row">
        <div class="card offset-lg-2 col-lg-2 col-sm-1">
            <a [routerLink]="['/details',products[i].key]" class="card-link">
                <img align="center" class="card-img-top col-12" src="{{products[i].img}}" alt="{{products[i].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
            </a>
            <div class="card-body">
                <h3 class="card-title col-12">{{products[i].title}}</h3>
                <!-- <p class="card-text">{{products[i].description}}</p> -->
            </div>
            <ul class="list-group list-group-flush col-12">
                <li class="list-group-item">
                    <h4>{{products[i].price}}€</h4>
                </li>
            </ul>
            <div class="card-body col-12">
                <a [routerLink]="['/details',products[i].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                <a *ngIf="!isFavourite(products[i].key)" (click)="addFavouriteProduct(products[i].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart"></i></a>
                <a *ngIf="isFavourite(products[i].key)" (click)="deleteFavouriteProduct(products[i].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
                <a *ngIf="isUserAdmin()" (click)="setId(i)" class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct"><i class="bi bi-gear-fill"></i></a>
                <a *ngIf="isUserAdmin()" (click)="deleteProduct(products[i].title)" class="card-link" data-bs-toggle="modal" data-bs-target="#delProduct"><i class="bi bi-trash3-fill"></i></a>
            </div>
        </div>
        <div *ngIf="i + 1 < products.length" class="card col-lg-2 col-sm-1">
            <a [routerLink]="['/details',products[i + 1].key]" class="card-link">
                <img align="center" class="card-img-top" src="{{products[i+1].img}}" alt="{{products[i+1].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
            </a>
            <div class="card-body">
                <h3 class="card-title">{{products[i+1].title}}</h3>
                <!-- <p class="card-text">{{products[i+1].description}}</p> -->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>{{products[i+1].price}}€</h4>
                </li>
            </ul>
            <div class="card-body">
                <a [routerLink]="['/details',products[i+1].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                <a *ngIf="isFavourite(products[i+1].key)" (click)="deleteFavouriteProduct(products[i+1].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
                <a *ngIf="!isFavourite(products[i+1].key)" (click)="addFavouriteProduct(products[i+1].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart"></i></a>
                <a *ngIf="isUserAdmin()" (click)="setId(i)" class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct"><i class="bi bi-gear-fill"></i></a>
                <a *ngIf="isUserAdmin()" (click)="deleteProduct(products[i+1].title)" class="card-link" data-bs-toggle="modal" data-bs-target="#delProduct"><i class="bi bi-trash3-fill"></i></a>
            </div>
        </div>
        <div *ngIf="i + 2 < products.length" class="card col-lg-2 col-sm-1">
            <a [routerLink]="['/details',products[i + 2].key]" class="card-link">
                <img align="center" class="card-img-top" src="{{products[i+2].img}}" alt="{{products[i+2].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
            </a>
            <div class="card-body">
                <h3 class="card-title">{{products[i+2].title}}</h3>
                <!-- <p class="card-text">{{products[i+2].description}}</p> -->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>{{products[i+2].price}}€</h4>
                </li>
            </ul>
            <div class="card-body">
                <a [routerLink]="['/details',products[i+2].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                <a *ngIf="!isFavourite(products[i+2].key)" (click)="addFavouriteProduct(products[i+2].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart"></i></a>
                <a *ngIf="isFavourite(products[i+2].key)" (click)="deleteFavouriteProduct(products[i+2].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
                <a *ngIf="isUserAdmin()" (click)="setId(i)" class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct"><i class="bi bi-gear-fill"></i></a>
                <a *ngIf="isUserAdmin()" (click)="deleteProduct(products[i+2].title)" class="card-link" data-bs-toggle="modal" data-bs-target="#delProduct"><i class="bi bi-trash3-fill"></i></a>
            </div>
        </div>
        <div *ngIf="i + 3 < products.length" class="card col-lg-2 col-sm-1">
            <a [routerLink]="['/details',products[i+3].key]" class="card-link">
                <img class="card-img-top" src="{{products[i+3].img}}" alt="{{products[i+2].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
            </a>
            <div class="card-body">
                <h3 class="card-title">{{products[i+3].title}}</h3>
                <!-- <p class="card-text">{{products[i+2].description}}</p> -->
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>{{products[i+3].price}}€</h4>
                </li>
            </ul>
            <div class="card-body">
                <a [routerLink]="['/details',products[i+3].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                <a *ngIf="!isFavourite(products[i+3].key)" (click)="addFavouriteProduct(products[i+3].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart"></i></a>
                <a *ngIf="isFavourite(products[i+3].key)" (click)="deleteFavouriteProduct(products[i+3].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
                <a *ngIf="isUserAdmin()" (click)="setId(i)" class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct"><i class="bi bi-gear-fill"></i></a>
                <a *ngIf="isUserAdmin()" (click)="deleteProduct(products[i+3].title)" class="card-link" data-bs-toggle="modal" data-bs-target="#delProduct"><i class="bi bi-trash3-fill"></i></a>
            </div>
        </div>
    </div>
</div>
<br><br>


<!-- addProduct Modal -->
<div class="modal fade" id="addProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registrar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="addNewProduct(registerForm)" #registerForm="ngForm" class="offset-1 col-10">
                <br>
                <input type="text" class="form-control col-10" name="title" id="" placeholder="Título" ngModel required><br><br>
                <textarea type="text" class="form-control col-10" name="description" id="" placeholder="Descripción sobre el producto" ngModel></textarea><br><br>
                <input type="number" class="form-control col-8" name="price" id="" placeholder="Precio" ngModel> € <br><br>
                <label for="img">Imagen</label>
                <input (change)="uploadImage($event)" class="form-control" name="img" type="file" id="formFile" ngModel>
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-dark offset-3 col-6 d-grid " data-bs-dismiss="modal">Añadir Producto</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<br><br><br>

<!-- updateProduct Modal -->
<div class="modal fade" id="updateProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modificar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="updateProduct(updateForm)" #updateForm="ngForm" class="offset-1 col-10">
                <br>
                <input type="text" class="form-control col-10" name="title" id="" placeholder="Título" ngModel required><br><br>
                <textarea type="text" class="form-control col-10" name="description" id="" placeholder="Descripción sobre el producto" ngModel></textarea><br><br>
                <input type="number" class="form-control col-8" name="price" id="" placeholder="Precio" ngModel> € <br><br>
                <label for="img">Imagen</label>
                <input (change)="uploadImage($event)" class="form-control" name="img" type="file" id="formFile" ngModel>
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-dark offset-3 col-6 d-grid " data-bs-dismiss="modal">Modificar Producto</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<!-- delFavProd Modal -->
<div class="modal fade" id="delFavProd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delFavProdLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto eliminado de favoritos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Este producto ya no aparecerá en tu selección de productos favoritos
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- delProduct Modal -->
<div class="modal fade" id="delProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto eliminado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Se ha eliminado el producto
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto añadido a favoritos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Puedes ir a favoritos para ver la lista de productos favoritos
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div *ngIf="4 >= products.length">
    <footer class="py-2 bg-dark fixed-bottom">
        <form (ngSubmit)="searchProduct(searchBar)" #searchBar="ngForm" class="d-flex col-4 offset-4" role="search">
            <input class="form-control me-2" name="searchInput" type="search" placeholder="Search" aria-label="Search" ngModel requiered>
            <button class="btn btn-success" type="submit" onClick="window.location.reload();">Search</button>
        </form>
    </footer>
</div>

<div *ngIf="products.length > 4">
    <footer class="py-2 bg-dark">
        <form (ngSubmit)="searchProduct(searchBar)" #searchBar="ngForm" class="d-flex col-4 offset-4" role="search">
            <input class="form-control me-2" name="searchInput" type="search" placeholder="Search" aria-label="Search" ngModel requiered>
            <button class="btn btn-success" type="submit" onClick="window.location.reload();">Search</button>
        </form>
    </footer>
</div>