<app-top-nav-bar></app-top-nav-bar>
<br><br><br><br>
<h2 class="offset-1">Catálogo</h2>
<br>
<div *ngIf="isUserAdmin()" align="center"><button type="button" class="btn btn-light col-2" data-bs-toggle="modal" data-bs-target="#addProduct"><i class="bi bi-plus-lg"></i></button></div>
<br><br>
<div class="container-fluid col-md-10 col-xs-10">
    <div *ngFor="let item of products; let i = index">
        <div *ngIf="i % 4 == 0" align="center" class="row">
            <div class="card offset-lg-2 col-lg-2 col-sm-8 col-xs-8 col-md-8" style="padding:2em;margin-bottom: 1em;">
                <div>
                    <a [routerLink]="['/details',products[i].key]" class="card-link">
                        <img align="center" class="card-img-top" src="{{products[i].img}}" alt="{{products[i].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{products[i].title}}</h3>
                    <!-- <p class="card-text">{{products[i].description}}</p> -->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>{{products[i].price}}€</h4>
                    </li>
                </ul>
                <div class="card-body">
                    <a [routerLink]="['/details',products[i].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                    <a *ngIf="!isFavourite(products[i].key)" (click)="addFavouriteProduct(products[i].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart"></i></a>
                    <a *ngIf="isFavourite(products[i].key)" (click)="deleteFavouriteProduct(products[i].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
                    <a *ngIf="isUserAdmin()" (click)="setId(i)" class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct"><i class="bi bi-gear-fill"></i></a>
                    <a *ngIf="isUserAdmin()" (click)="deleteProduct(products[i].title)" class="card-link" data-bs-toggle="modal" data-bs-target="#delProduct"><i class="bi bi-trash3-fill"></i></a>
                </div>
            </div>
            <div *ngIf="i + 1 < products.length" class="card col-lg-2 col-sm-8 col-xs-8 col-md-8" style="padding:2em;margin-bottom:1em">
                <div>
                    <a [routerLink]="['/details',products[i + 1].key]" class="card-link">
                        <img align="center" class="card-img-top" src="{{products[i+1].img}}" alt="{{products[i+1].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{products[i+1].title}}</h3>
                    <!-- <p class="card-text">{{products[i+1].description}}</p> -->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>{{products[i+1].price}}€</h4>
                    </li>
                </ul>
                <div class="card-body">
                    <a [routerLink]="['/details',products[i+1].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                    <a *ngIf="isFavourite(products[i+1].key)" (click)="deleteFavouriteProduct(products[i+1].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
                    <a *ngIf="!isFavourite(products[i+1].key)" (click)="addFavouriteProduct(products[i+1].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart"></i></a>
                    <a *ngIf="isUserAdmin()" (click)="setId(i)" class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct"><i class="bi bi-gear-fill"></i></a>
                    <a *ngIf="isUserAdmin()" (click)="deleteProduct(products[i+1].title)" class="card-link" data-bs-toggle="modal" data-bs-target="#delProduct"><i class="bi bi-trash3-fill"></i></a>
                </div>
            </div>
            <div *ngIf="i + 2 < products.length" class="card col-lg-2 col-sm-8 col-xs-8 col-md-8" style="padding:2em;margin-bottom:1em">
                <div>
                    <a [routerLink]="['/details',products[i + 2].key]" class="card-link">
                        <img align="center" class="card-img-top" src="{{products[i+2].img}}" alt="{{products[i+2].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{products[i+2].title}}</h3>
                    <!-- <p class="card-text">{{products[i+2].description}}</p> -->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>{{products[i+2].price}}€</h4>
                    </li>
                </ul>
                <div class="card-body">
                    <a [routerLink]="['/details',products[i+2].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                    <a *ngIf="!isFavourite(products[i+2].key)" (click)="addFavouriteProduct(products[i+2].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart"></i></a>
                    <a *ngIf="isFavourite(products[i+2].key)" (click)="deleteFavouriteProduct(products[i+2].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
                    <a *ngIf="isUserAdmin()" (click)="setId(i)" class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct"><i class="bi bi-gear-fill"></i></a>
                    <a *ngIf="isUserAdmin()" (click)="deleteProduct(products[i+2].title)" class="card-link" data-bs-toggle="modal" data-bs-target="#delProduct"><i class="bi bi-trash3-fill"></i></a>
                </div>
            </div>
            <div *ngIf="i + 3 < products.length" class="card col-lg-2 col-sm-8 col-xs-8 col-md-8" style="padding:2em;margin-bottom:1em">
                <div>
                    <a [routerLink]="['/details',products[i+3].key]" class="card-link">
                        <img class="card-img-top" src="{{products[i+3].img}}" alt="{{products[i+2].img}}" onerror="this.onerror=null; this.src='../assets/images/profileImage.png'">
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{products[i+3].title}}</h3>
                    <!-- <p class="card-text">{{products[i+2].description}}</p> -->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>{{products[i+3].price}}€</h4>
                    </li>
                </ul>
                <div class="card-body">
                    <a [routerLink]="['/details',products[i+3].key]" class="card-link"><i class="bi bi-info-circle-fill"></i></a>
                    <a *ngIf="!isFavourite(products[i+3].key)" (click)="addFavouriteProduct(products[i+3].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart"></i></a>
                    <a *ngIf="isFavourite(products[i+3].key)" (click)="deleteFavouriteProduct(products[i+3].key)" class="card-link" data-bs-toggle="modal" data-bs-target="#delFavProd"><i class="bi bi-heart-fill"></i></a>
                    <a *ngIf="isUserAdmin()" (click)="setId(i)" class="card-link" data-bs-toggle="modal" data-bs-target="#updateProduct"><i class="bi bi-gear-fill"></i></a>
                    <a *ngIf="isUserAdmin()" (click)="deleteProduct(products[i+3].title)" class="card-link" data-bs-toggle="modal" data-bs-target="#delProduct"><i class="bi bi-trash3-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>


<!-- addProduct Modal -->
<div class="modal fade" id="addProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registrar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="addNewProduct(registerForm)" #registerForm="ngForm" class="offset-1 col-10">
                <br>
                <input type="text" class="form-control col-10" name="title" id="" placeholder="Título" ngModel required><br><br>
                <textarea type="text" class="form-control col-10" name="description" id="" placeholder="Descripción sobre el producto" ngModel></textarea><br><br>
                <input type="number" class="form-control col-8" name="price" id="" placeholder="Precio" ngModel> € <br><br>
                <label for="img">Imagen</label>
                <input (change)="uploadImage($event)" class="form-control" name="img" type="file" id="formFile" ngModel>
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-dark offset-3 col-6 d-grid " data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#addProduct2">Añadir Producto</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<br><br><br>

<!-- updateProduct Modal -->
<div class="modal fade" id="updateProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modificar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="updateProduct(updateForm)" #updateForm="ngForm" class="offset-1 col-10">
                <br>
                <input type="text" class="form-control col-10" name="title" id="" placeholder="Título" ngModel required><br><br>
                <textarea type="text" class="form-control col-10" name="description" id="" placeholder="Descripción sobre el producto" ngModel></textarea><br><br>
                <input type="number" class="form-control col-8" name="price" id="" placeholder="Precio" ngModel> € <br><br>
                <label for="img">Imagen</label>
                <input (change)="uploadImage($event)" class="form-control" name="img" type="file" id="formFile" ngModel>
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-dark offset-3 col-6 d-grid " data-bs-dismiss="modal">Modificar Producto</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

<!-- addProduct2 Modal -->
<div class="modal fade" id="addProduct2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addProduct2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto añadido</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Este producto aparecerá en el catálogo de productos
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- delFavProd Modal -->
<div class="modal fade" id="delFavProd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delFavProdLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto eliminado de favoritos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Este producto ya no aparecerá en tu selección de productos favoritos
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- delProduct Modal -->
<div class="modal fade" id="delProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto eliminado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Se ha eliminado el producto
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto añadido a favoritos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Puedes ir a favoritos para ver la lista de productos favoritos
            </div>
            <div class="modal-footer">
                <button onClick="window.location.reload();" type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<!-- <div *ngIf="4 >= products.length">
    <footer class="py-2 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Predicción de ventas 2022</p>
        </div>
    </footer>
</div>

<div *ngIf="products.length > 4">
    <footer class="py-2 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Predicción de ventas 2022</p>
        </div>
    </footer>
</div> -->

<footer class="container py-5 border-top">
    <div class="row">
        <div class="offset-1 col-10 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
            <small class="d-block mb-3 text-muted">&copy; 2022–2023</small>
        </div>
        <div class="offset-1 col-5 col-md">
            <h5>Productos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/products">Catálogo</a></li>
                <li><a class="link-secondary" href="/favourites">Mis Favoritos</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/sales">Ventas</a></li>
                <!-- <li><a class="link-secondary" href="#">Stuff for developers</a></li>
                <li><a class="link-secondary" href="#">Another one</a></li>
                <li><a class="link-secondary" href="#">Last time</a></li> -->
            </ul>
        </div>
        <div class="offset-2 col-4 col-md">
            <h5>Cuenta</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="/profile">Perfil</a></li>
                <li><a *ngIf="isUserAdmin()" class="link-secondary" href="/adminProfiles">Administrar perfiles</a></li>
                <!-- <li><a class="link-secondary" href="#">Another resource</a></li>
                <li><a class="link-secondary" href="#">Final resource</a></li> -->
            </ul>
        </div>
        <div class="offset-1 col-5 col-md">
            <h5>Enlaces</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="https://angular.io/docs" target="_blank">Angular</a></li>
                <li><a class="link-secondary" href="https://getbootstrap.com/docs/5.2/examples/" target="_blank">Bootstrap</a></li>
                <li><a class="link-secondary" href="https://www.npmjs.com/package/ngx-scanner-qrcode" target="_blank">Qr Scanner</a></li>
                <li><a class="link-secondary" href="https://betterprogramming.pub/how-to-convert-your-angular-application-to-a-native-mobile-app-android-and-ios-c212b38976df" target="_blank">Capacitor</a></li>
            </ul>
        </div>
        <div class="offset-2 col-4 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">Team</a></li>
                <li><a class="link-secondary" href="#">Locations</a></li>
                <li><a class="link-secondary" href="#">Privacy</a></li>
                <li><a class="link-secondary" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>