<app-top-nav-bar></app-top-nav-bar>

<button type="button" class="btn btn-success col-2 offset-5 custom" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-qr-code-scan fa-9x"></i></button>

<div class="modal fade modal-xl modal-fullscreen" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Escanear Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- For camera -->
            <ngx-scanner-qrcode #action="scanner"></ngx-scanner-qrcode>

            <!-- data  -->
            <span *ngIf="action.data.value">{{ action.data.value | json }}</span>
            <!-- value -->
            <span *ngIf="action.data">{{ action.data | async | json }}</span>
            <!-- async -->

            <!-- Loading -->
            <p *ngIf="action.isLoading">⌛ Loading...</p>

            <!-- start -->
            <button class="btn btn-primary col-4 offset-4" (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button>
            <br>
        </div>
    </div>
</div>