@import url('https://fonts.googleapis.com/css?family=PT+Sans');
* {
    font-family: 'PT Sans', sans-serif;
}

h2,
h3 {
    color: #494747;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

form {
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border-radius: 4px;
}

label span {
    display: inline-block;
    width: 120px;
    text-align: right;
}

input {
    vertical-align: top;
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 0.8rem;
}

input[type=radio] {
    width: 15px;
}

input:focus {
    color: #333;
    background-color: #ffffff;
    outline: 0;
    box-shadow: none;
    transition: .3s;
}

#LoginButton {
    background: #f8f9fa;
    border: 2px solid #f8f9fa;
    color: #333;
    padding: 0;
}

#LoginButton:hover {
    color: #da5767;
    transition: .3s;
}

#CrearButton {
    float: right;
}

label {
    position: relative;
}

button {
    font-size: 95%;
    padding: 0.6rem 1.2rem;
    color: #ffffff;
    border-radius: 4px;
}